@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin square ($s) {
    width: $s;
    height: $s;
}


@mixin fontSize($fs, $fw, $lh, $fs-mobile) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;

    @media all and (max-width: $tablet) {
        font-size: $fs-mobile;
    }
}